body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
 height:72px;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
}

ul{
  margin: auto;
}

ul li{
  padding: 24px;
  list-style:none;
}

form {
  display: flex;
  flex-direction: column;
max-width: 400px;
  margin: auto;
}

input, button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

input{
  border: 1px solid #0022e0;
}

button {
  background-color: #525461;
  color: white;
  cursor: pointer;
  margin:0.5em;
  border:none;
}

footer{
  height:120px;
}

